.btn-search {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0MiA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjEiIGN5PSIyMSIgcj0iMjAuNSIgc3Ryb2tlPSIjOTE5MTkxIi8+CjxjaXJjbGUgY3g9IjIwIiBjeT0iMjAiIHI9IjcuNSIgc3Ryb2tlPSIjMUUxRTFFIi8+CjxwYXRoIGQ9Ik0yNSAyNkwzMSAzMiIgc3Ryb2tlPSIjMUUxRTFFIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  @include border-radius(50%);
  @include transition(0.3s);
  &:hover,
  &:active {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0MiA0MiIgZmlsbD0iIzFlMWUxZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjEiIGN5PSIyMSIgcj0iMjAuNSIgc3Ryb2tlPSIjMWUxZTFlIi8+CjxjaXJjbGUgY3g9IjIwIiBjeT0iMjAiIHI9IjcuNSIgc3Ryb2tlPSIjZmZmZmZmIi8+CjxwYXRoIGQ9Ik0yNSAyNkwzMSAzMiIgc3Ryb2tlPSIjZmZmZmZmIi8+Cjwvc3ZnPgo=');
  }
  @include media-breakpoint-up(md) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(lg) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(xl) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(xxl) {
    width: 40px;
    height: 40px;
  }
  @media #{$big_screen} {
    width: 42px;
    height: 42px;
  }
}
.btn-bar {
  padding: 0;
  width: 100px;
  height: 49px;
  border: none;
  padding: 0;
  background-color: $primary-black-2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAzMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMkgzMCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxwYXRoIGQ9Ik0wIDEwSDMwIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTAgMThIMzAiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K');
  @include border-radius(24px);
  @include transition(0.3s);
  &:hover,
  &:active,
  &.active {
    background-color: $primary-red;
  }
}
.btn {
  color: $white;
  font-family: $font-stack-medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 16px;
  border-radius: 24px;
  background-color: $primary-black-2;
  border: 1px solid $primary-black-2;
  @include border-radius(24px);
  @include transition(0.3s);
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
  }
  @media #{$big_screen} {
    font-size: 20px;
  }
}
.btn-outline-secondary {
  color: $primary-black-2;
  border: 1px solid $primary-gray;
  background-color: $white;
  &:hover,
  &:active {
    background-color: $primary-black-2;
    border-color: $primary-black-2;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
.btn-danger {
  color: $white;
  background: $primary-red;
  border-color: $primary-red;
  &:hover,
  &:active {
    background-color: $primary-black-2;
    border-color: $primary-black-2;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
