.btn-search {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0MiA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjEiIGN5PSIyMSIgcj0iMjAuNSIgc3Ryb2tlPSIjOTE5MTkxIi8+CjxjaXJjbGUgY3g9IjIwIiBjeT0iMjAiIHI9IjcuNSIgc3Ryb2tlPSIjMUUxRTFFIi8+CjxwYXRoIGQ9Ik0yNSAyNkwzMSAzMiIgc3Ryb2tlPSIjMUUxRTFFIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  @include border-radius(50%);
  @include transition(0.3s);
  text-decoration: none !important;
  &:hover,
  &:active {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0MiA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjEiIGN5PSIyMSIgcj0iMjEiIGZpbGw9IiNDNDBEMEQiLz4KPGNpcmNsZSBjeD0iMjAiIGN5PSIyMCIgcj0iNy41IiBzdHJva2U9IndoaXRlIi8+CjxwYXRoIGQ9Ik0yNSAyNkwzMSAzMiIgc3Ryb2tlPSJ3aGl0ZSIvPgo8L3N2Zz4K');
  }
  @include media-breakpoint-up(md) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(lg) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(xl) {
    width: 38px;
    height: 38px;
  }
  @include media-breakpoint-up(xxl) {
    width: 40px;
    height: 40px;
  }
  @media #{$big_screen} {
    width: 42px;
    height: 42px;
  }
}
.btn-bar {
  padding: 0;
  width: 80px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: $primary-black-2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAzMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMkgzMCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxwYXRoIGQ9Ik0wIDEwSDMwIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTAgMThIMzAiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K');
  @include border-radius(24px);
  @include transition(0.3s);
  text-decoration: none !important;
  &:hover,
  &:active,
  &.active {
    background-color: $primary-red;
  }
  @include media-breakpoint-up(md) {
    width: 80px;
    height: 43px;
  }
  @include media-breakpoint-up(lg) {
    width: 80px;
    height: 45px;
  }
  @include media-breakpoint-up(xl) {
    width: 80px;
    height: 45px;
  }
  @include media-breakpoint-up(xxl) {
    width: 90px;
    height: 47px;
  }
  @media #{$big_screen} {
    width: 100px;
    height: 49px;
  }
}
.btn {
  color: $white;
  font-family: $font-stack-medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none !important;
  height: 40px;
  padding: 10px 12px;
  border-radius: 24px;
  background-color: $primary-black-2;
  border: 1px solid $primary-black-2;
  display: inline-flex;
  align-items: center;
  align-content: center;
  @include border-radius(24px);
  @include transition(0.3s);
  @include media-breakpoint-up(md) {
    font-size: 14px;
    height: 40px;
    padding: 10px 12px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
    height: 40px;
    padding: 10px 12px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
    height: 40px;
    padding: 10px 14px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
    height: 40px;
    padding: 10px 16px;
  }
  @media #{$big_screen} {
    font-size: 20px;
    height: 42px;
    padding: 10px 16px;
  }
}
.btn-lg {
  text-decoration: none !important;
  padding: 10px 14px;
  @include media-breakpoint-up(md) {
    font-size: 14px;
    height: 40px;
    padding: 10px 16px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
    height: 40px;
    padding: 12px 18px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
    height: 40px;
    padding: 12px 20px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
    height: 40px;
    padding: 14px 22px;
  }
  @media #{$big_screen} {
    font-size: 20px;
    height: 42px;
    padding: 14px 24px;
  }
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: $white;
  background-color: $primary-red;
  border-color: $primary-red;
}
.btn-primary {
  border-radius: 24px;
  background-color: $primary-black-2;
  border: 1px solid $primary-black-2;
  &:hover,
  &:active {
    color: $white;
    background-color: $primary-red;
    border-color: $primary-red;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
.btn-outline-secondary {
  text-decoration: none !important;
  color: $primary-black-2;
  border: 1px solid $primary-gray;
  background-color: $white;
  &:hover,
  &:active {
    color: $white;
    background-color: $primary-red;
    border-color: $primary-red;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
.btn-outline-secondary-black {
  text-decoration: none !important;
  color: $white;
  border: 1px solid $primary-gray;
  background-color: $white;
  &:hover,
  &:active {
    color: $white;
    background-color: $primary-red;
    border-color: $primary-gray;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
.btn-bg-transparent {
  text-decoration: none !important;
  background-color: transparent;
}
.btn-danger {
  text-decoration: none !important;
  color: $white;
  background: $primary-red;
  border-color: $primary-red;
  &:hover,
  &:active {
    background-color: $primary-black-2;
    border-color: $primary-black-2;
  }
  &:disabled {
    background-color: $primary-gray;
  }
}
.btn-outline-arrow-right {
  color: $primary-black-2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none !important;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 0px 32px;
  padding: 6px 6px 6px 24px;
  width: auto;
  background-color: transparent;
  border: 1px solid $primary-gray;
  @include border-radius(64px);
  @include transition(0.3s);

  &::after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $primary-black-2;
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 15px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 45px;
      height: 45px;
      background-size: 18px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 50px;
      height: 50px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 60px;
      height: 60px;
      background-size: 20px;
    }
  }
  @media #{$big_screen} {
    font-size: 22px;
    padding: 6px 6px 6px 32px;
    &::after {
      width: 65px;
      height: 65px;
      background-size: 20px;
    }
  }
  &:hover,
  &:active {
    color: $white;
    background-color: $primary-red;
    border-color: $primary-red;
    &:after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSIjQzQwRDBEIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
      background-color: $white;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-duration: var(--animate-duration);
      animation-duration: var(--animate-duration);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
  &:disabled {
    color: $primary-gray;
    background-color: $primary-gray;
    border-color: $primary-gray;
  }
}
.btn-outline-arrow-right-red-hover-white {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none !important;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 0px 32px;
  padding: 6px 6px 6px 24px;
  width: auto;
  background-color: $primary-red;
  border: 1px solid $white;
  @include border-radius(64px);
  @include transition(0.3s);

  &::after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $white;
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSIjMUUxRTFFIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 15px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 45px;
      height: 45px;
      background-size: 18px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 50px;
      height: 50px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 60px;
      height: 60px;
      background-size: 20px;
    }
  }
  @media #{$big_screen} {
    font-size: 22px;
    padding: 6px 6px 6px 32px;
    &::after {
      width: 65px;
      height: 65px;
      background-size: 20px;
    }
  }
  &:hover,
  &:active {
    color: $primary-black-2;
    background-color: $white;
    border-color: $white;
    &:after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
      background-color: $primary-black-2;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-duration: var(--animate-duration);
      animation-duration: var(--animate-duration);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
  &:disabled {
    color: $primary-gray;
    background-color: $primary-gray;
    border-color: $primary-gray;
  }
}
.btn-outline-arrow-right-sm {
  text-decoration: none !important;
  font-size: 14px;
  padding: 4px 4px 4px 16px;
  &::after {
    width: 34px;
    height: 34px;
    background-size: 12px;
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    padding: 4px 4px 4px 16px;
    &::after {
      width: 36px;
      height: 36px;
      background-size: 12px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding: 4px 4px 4px 18px;
    &::after {
      width: 38px;
      height: 38px;
      background-size: 14px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
    padding: 4px 4px 4px 20px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 14px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
    padding: 4px 4px 4px 20px;
    &::after {
      width: 42px;
      height: 42px;
      background-size: 14px;
    }
  }
  @media #{$big_screen} {
    font-size: 20px;
    padding: 4px 4px 4px 24px;
    &::after {
      width: 44px;
      height: 44px;
      background-size: 16px;
    }
  }
}
.btn-outline-black-arrow-right {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none !important;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 0px 32px;
  padding: 6px 6px 6px 24px;
  width: auto;
  background-color: $primary-black-2;
  border: 0;
  @include border-radius(64px);
  @include transition(0.3s);

  &::after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $white;
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSIjMUUxRTFFIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 15px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding: 6px 6px 6px 28px;
    &::after {
      width: 45px;
      height: 45px;
      background-size: 18px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 50px;
      height: 50px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    padding: 6px 6px 6px 30px;
    &::after {
      width: 60px;
      height: 60px;
      background-size: 20px;
    }
  }
  @media #{$big_screen} {
    font-size: 22px;
    padding: 6px 6px 6px 32px;
    &::after {
      width: 65px;
      height: 65px;
      background-size: 20px;
    }
  }
  &:hover,
  &:active {
    color: $white;
    background-color: $primary-red;
    &:after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOEMwLjY5ODE4MiA4IDEwLjk1NzYgOCAxNiA4TTE2IDhMOS4zMDkwOSAxTTE2IDhMOS4zMDkwOSAxNSIgc3Ryb2tlPSIjQzQwRDBEIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-duration: var(--animate-duration);
      animation-duration: var(--animate-duration);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
  &:disabled {
    color: $primary-gray;
    background-color: $primary-gray;
  }
}
.btn-close {
  text-decoration: none !important;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMyAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjg3OTkgMS4zMjcxNUw3LjIwNzAzIDdMMTIuODc5OSAxMi42NzI5TDEyLjE3MjkgMTMuMzc5OUw2LjUgNy43MDcwM0wwLjgyNzE0OCAxMy4zNzk5TDAuMTIwMTE3IDEyLjY3MjlMNS43OTI5NyA3TDAuMTIwMTE3IDEuMzI3MTVMMC44MjcxNDggMC42MjAxMTdMNi41IDYuMjkyOTdMMTIuMTcyOSAwLjYyMDExN0wxMi44Nzk5IDEuMzI3MTVaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K');
}
.wrap-button-toggle {
  display: inline-flex;
  padding: 6px;
  align-items: flex-start;
  border-radius: 32px;
  background: $white;
  & > button {
    color: $primary-black-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none !important;
    display: flex;
    height: 49px;
    padding: 8px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid $white;
    background-color: $white;
    transition: all 0.3s ease;
    &:hover {
      color: $primary-black-2;
      border-color: $primary-red;
      background-color: $white;
    }
    &:active,
    &.active {
      color: $white;
      border-color: $primary-red;
      background-color: $primary-red;
    }
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 20px;
    }
    @media #{$big_screen} {
      font-size: 20px;
    }
  }
}
.btn-prev {
  color: $primary-black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 14px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDhDMTcuMzAxOCA4IDcuMDQyNDIgOCAyIDhNMiA4TDguNjkwOTEgMU0yIDhMOC42OTA5MSAxNSIgc3Ryb2tlPSIjMzgzODM4IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
    background-position: center;
    background-repeat: no-repeat;
  }
}
