footer {
  margin-top: 40px;
  @include media-breakpoint-up(md) {
    margin-top: 80px;
  }
  color: $white;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }
  .wrap {
    border-radius: 18px 18px 0px 0px;
    padding: 32px 12px;
    background: $primary-black-2;
    @include media-breakpoint-up(md) {
      padding: 32px 20px;
      border-radius: 52px;
    }
    @include media-breakpoint-up(lg) {
      padding: 52px 32px;
    }
  }
  .wrap-logo {
    display: flex;
    gap: 0px 21px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    @include media-breakpoint-up(md) {
      justify-content: start;
    }
    @include media-breakpoint-up(xxl) {
      flex-wrap: nowrap;
    }
    .logo {
      color: $primary-red;
      font-family: $font-stack-medium;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      flex: 0 0 auto;
      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 25px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 27px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 27px;
      }
      @media #{$big_screen} {
        font-size: 38px;
      }
    }
    .text {
      color: $white;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      letter-spacing: 0.32px;
      display: inline-block;
      max-width: 287px;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 14px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 14px;
      }
      @media #{$big_screen} {
        font-size: 16px;
      }
    }
  }
  .wrap-phone-email {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      display: flex;
      gap: 42px;
      align-items: center;
      align-items: flex-end;
    }

    .email {
      color: $primary-gray;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      @include transition(0.3s);
      &:hover {
        text-decoration: underline;
      }
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 18px;
      }
      @media #{$big_screen} {
        font-size: 20px;
      }
    }
    .phone {
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 130%;
      text-decoration: none;
      @include transition(0.3s);
      &:hover {
        text-decoration: underline;
      }
      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 18px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 22px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 24px;
      }
      @media #{$big_screen} {
        font-size: 26px;
      }
    }
  }
  .row-menu {
    margin-top: 24px;
    @include media-breakpoint-up(md) {
      margin-top: 52px;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px 22px;
      justify-content: start;
      flex-direction: row;
    }
    @include media-breakpoint-up(lg) {
      gap: 20px 24px;
    }
    @include media-breakpoint-up(xl) {
      gap: 20px 26px;
    }
    @include media-breakpoint-up(xxl) {
      gap: 20px 28px;
    }
    @media #{$big_screen} {
      gap: 20px 32px;
    }
    li {
      color: $white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 18px;
      }
      @media #{$big_screen} {
        font-size: 18px;
      }
      a {
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: $primary-red;
        }
      }
    }
  }
  .wrap-soc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    .label {
      color: $primary-gray;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 16px;
      }
      @media #{$big_screen} {
        font-size: 16px;
      }
    }
  }
  .menucatalog {
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    flex-direction: row;
    @include media-breakpoint-up(md) {
      gap: 24px;
      justify-content: start;
      margin-top: 72px;
      gap: 16px;
      flex-direction: row;
    }
  }
  .row-address-button {
    margin-top: 72px;
    @include media-breakpoint-up(md) {
      margin-top: 132px;
    }
  }
  .wrap-button {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    @include media-breakpoint-up(md) {
      justify-content: end;
      gap: 16px;
    }
  }
  .address {
    color: $primary-gray;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 18px;
    }
    @media #{$big_screen} {
      font-size: 18px;
    }
  }
  .row-bottom {
    margin-top: 36px;
  }
  .copiryght {
    color: $primary-gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 18px;
    }
    @media #{$big_screen} {
      font-size: 18px;
    }
  }
  .menu-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 12px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    @include media-breakpoint-up(md) {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 16px 52px;
      justify-content: end;
    }
    @include media-breakpoint-up(lg) {
      gap: 16px 32px;
    }
    @include media-breakpoint-up(xl) {
      gap: 16px 52px;
    }
    li {
      color: $primary-gray;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: calc(50% - 12px);
      @include media-breakpoint-up(md) {
        width: auto;
        font-size: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 18px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 18px;
      }
      @media #{$big_screen} {
        font-size: 18px;
      }
      a {
        color: $primary-gray;
        text-decoration: none;
        transition: all;
        &:hover {
          color: $primary-red;
        }
      }
    }
  }
  .soc {
    gap: 8px;
    @include media-breakpoint-up(md) {
      gap: 18px;
    }
    a {
      height: 40px;
      @include media-breakpoint-up(md) {
        height: 32px;
      }
      svg {
        fill: $white;
      }
    }
  }
  .wrap-btn-soc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  .footerInfo {
    color: $primary-gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.section-write-us + footer {
  margin-top: 0px;
  @include media-breakpoint-up(md) {
    margin-top: 0px;
  }
}
.link-power {
  color: $primary-gray;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  &:hover {
    color: $primary-gray;
    text-decoration: underline;
  }
}
