body {
  font-family: $font-stack-medium;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  background-color: $body;
  color: $body-color;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  background-image: url();
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: $primary-gray;
  height: 80px;
}

::-webkit-scrollbar-track {
  background: $white;
}
.section {
  padding-left: 0px;
  padding-right: 0px;
  @include media-breakpoint-up(md) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.gx-6 {
  --bs-gutter-x: 3.5rem;
}
.gy-6 {
  --bs-gutter-y: 1.75rem;
}

.gy-28 {
  --bs-gutter-y: 28px;
}
.gy-32 {
  --bs-gutter-y: 32px;
}
.gx-28 {
  --bs-gutter-x: 24px;
  @include media-breakpoint-up(lg) {
    --bs-gutter-x: 28px;
  }
}
.gx-50 {
  --bs-gutter-x: 24px;
  @include media-breakpoint-up(lg) {
    --bs-gutter-x: 50px;
  }
}
.margin-top-80 {
  margin-top: 40px !important;
  @include media-breakpoint-up(md) {
    margin-top: 60px !important;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 80px !important;
  }
}
.container-fluid-14 {
  padding-left: 12px;
  padding-right: 12px;
  @include media-breakpoint-up(lg) {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.container-fluid-25 {
  padding-left: 12px;
  padding-right: 12px;
  @include media-breakpoint-up(lg) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.section-pl-pr-18 {
  padding-left: 10px;
  padding-right: 10px;
  @include media-breakpoint-up(lg) {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.section-pl-pr-7 {
  padding-left: 10px;
  padding-right: 10px;
  @include media-breakpoint-up(lg) {
    padding-left: 7px;
    padding-right: 7px;
  }
}
.padding-left-right-body {
  padding-left: 0px;
  padding-right: 0px;
  @include media-breakpoint-up(md) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pagination {
  margin-top: 32px;
}
a {
  color: $primary-red;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
}
