.cursor-pointer {
  cursor: pointer;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  @include media-breakpoint-up(md) {
    gap: 12px 15px;
  }
}
.tag {
  color: $primary-black-2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-flex;
  min-height: 35px;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid $primary-gray;

  @include border-radius(24px);
  @include transition(0.3s);
  &:hover {
    color: $primary-black-2;
    background-color: $primary-gray-2;
    border-color: $primary-gray-2;
    text-decoration: none;
  }
  &.tag-black:hover {
    color: $white;
    background-color: $primary-black-2;
    border-color: $primary-black-2;
    text-decoration: none;
  }
  @include media-breakpoint-up(md) {
    height: 48px;
    padding: 10px 16px;
    font-size: 18px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
  }
  @media #{$big_screen} {
    font-size: 20px;
  }
}
.tag-sm {
  min-height: 35px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    height: 42px;
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
  @media #{$big_screen} {
    font-size: 16px;
  }
}
.link {
  color: $primary-black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  display: flex;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  &::after {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $primary-black-2;
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyOSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTIuNUMxLjIgMTIuNSAxOC44MzMzIDEyLjUgMjcuNSAxMi41TTI3LjUgMTIuNUwxNiAxTTI3LjUgMTIuNUwxNiAyNCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
    transition: all 0.3s ease;
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    &::after {
      width: 32px;
      height: 32px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
    &::after {
      width: 36px;
      height: 36px;
      background-size: 22px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 24px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    &::after {
      width: 48px;
      height: 48px;
      background-size: 27px;
    }
  }
  @media #{$big_screen} {
    font-size: 20px;
    &::after {
      width: 52px;
      height: 52px;
      background-size: 27px;
    }
  }
  &:hover {
    color: $primary-red;
    &::after {
      background-color: $primary-red;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-duration: var(--animate-duration);
      animation-duration: var(--animate-duration);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
}
.link-red {
  color: $primary-red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: $primary-red;
    text-decoration: underline;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
  @media #{$big_screen} {
    font-size: 16px;
  }
}
.link-sm {
  &::after {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 18px;
  }
  @include media-breakpoint-up(md) {
    font-size: 13px;
    &::after {
      width: 38px;
      height: 38px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 14px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 14px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }
  }
  @media #{$big_screen} {
    font-size: 14px;
    &::after {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }
  }
}
.wrap-tabs {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  transition: all 0.3s ease;
  box-shadow: none;
  border: none;
  @include media-breakpoint-up(md) {
    height: 63px;
    padding: 5px;
  }
  .nav-link {
    color: $primary-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
    transition: all 0.3s ease;
    @include media-breakpoint-up(md) {
      padding: 10px 32px;
      font-size: 18px;
      height: 43px;
    }
    &:hover {
      border: none;
      color: $primary-red;
    }
    &.active {
      color: $white;
      background: $primary-black-2;
      &:hover {
        background-color: $primary-red;
      }
    }
  }
}
.link-underline-custom {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-decoration-color: $primary-black;
  transition: all 0.3s ease;
  &:hover {
    color: $primary-red;
    text-decoration-color: $primary-red;
  }
}
.link-dashed-custom {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: $primary-red;
    text-decoration: none;
    border: none;
    border-bottom: 1px dashed transparent;
  }
}
.soc {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  a {
    display: inline-flex;
    height: 32px;
    min-width: 40px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 42.667px;
    border: 1px solid $primary-gray;
    transition: all 0.3s ease;
    @include media-breakpoint-up(md) {
      padding: 0px 16px;
      min-width: 48px;
    }
    &:hover {
      background-color: $primary-red;
      border-color: $primary-gray;
    }
    &.black {
      background-color: $primary-black-2;
      border: none;
      &:hover {
        background-color: $primary-red;
        border-color: $primary-red;
      }
    }
  }
}
.dropdown-toggle {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  height: 42px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid $primary-gray;
  background-color: $primary-black-2;
  transition: all 0.3s ease;
  white-space: normal;
  text-align: left;
  @include media-breakpoint-up(md) {
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
  }
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
  }
  @media #{$big_screen} {
    font-size: 18px;
  }
  &::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    width: 13px;
    height: 6px;
    border: 0 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNy40OTk5NiA3TDE0IDEiIHN0cm9rZT0id2hpdGUiLz4KPC9zdmc+Cg==');
  }
  &:hover,
  &.active,
  &.show {
    border-color: $primary-gray;
    background-color: $white;
    color: $primary-red;
    &::after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNy40OTk5NiA3TDE0IDEiIHN0cm9rZT0iI0M0MEQwRCIvPgo8L3N2Zz4K');
    }
  }
}
.dropdown-menu {
  color: $primary-black;
  padding: 0;
  width: 100%;
  overflow: hidden;
  .dropdown-item {
    padding: 10px;
    color: $primary-black;
    white-space: normal;
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
    &:hover {
      color: $primary-black;
      background-color: #9191914d;
    }
  }
}
.popover-container {
  position: relative;
  .popover-shower {
    color: $primary-black-4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    white-space: nowrap;
    display: none;
    width: auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: $white;
    position: absolute;
    left: calc(100% + 24px);
    top: -5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      display: flex;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 20px;
    }
    @media #{$big_screen} {
      font-size: 20px;
    }
    &::before {
      content: '';
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-right: 24px solid $white;
      border-bottom: 16px solid transparent;
      position: absolute;
      left: -18px;
    }
    .btn-close {
      width: 16px;
      height: 16px;
      padding: 0;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &.popover-active {
    .popover-shower {
      width: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}
.wrap-filters-control {
  display: flex;
  padding: 12px 15px;
  gap: 12px 12px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 32px;
  background: $white;

  @include media-breakpoint-up(md) {
    padding: 24px 32px;
  }
  @include media-breakpoint-up(lg) {
    padding: 12px 24px;
  }
  .form-group {
    margin-bottom: 0;
    clear: both;
    /*
    width: calc(50% - 12px);
    @include media-breakpoint-up(md) {
      width: calc(50% - 12px);
    }
    @include media-breakpoint-up(xxl) {
      width: calc(25% - 9px);
    }
      */
  }
  .col-6 {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: calc(50% - 12px);
    }
  }
  .col-md-6 {
    @include media-breakpoint-up(md) {
      width: calc(50% - 12px);
    }
    @include media-breakpoint-up(xxl) {
      width: calc(50% - 9px);
    }
  }
  .col-lg-4 {
    @include media-breakpoint-up(lg) {
      width: calc(33.33333333% - 12px);
    }
    @include media-breakpoint-up(xxl) {
      width: calc(33.33333333% - 9px);
    }
  }
  .col-xl-3 {
    @include media-breakpoint-up(xl) {
      width: calc(25% - 9px);
    }
  }
  .col-xxl-3 {
    @include media-breakpoint-up(xxl) {
      width: calc(25% - 9px);
    }
  }
  .col-xxl-4 {
    @include media-breakpoint-up(xxl) {
      width: calc(33.333% - 9px);
    }
  }
}
.wrap-sort {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 24px;
  li {
    color: $primary-black-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
    a {
      color: $primary-gray;
      text-decoration: none;
      &:hover,
      &.active {
        color: $primary-black-2;
        text-decoration: none;
      }
    }
  }
}
.paginationSwiper {
  width: 100%;
  border-radius: 26px;
  @include media-breakpoint-up(md) {
    border-radius: 32px;
  }
  .swiper-wrapper {
    margin-bottom: 32px;
  }
  .swiper-slide {
    height: 380px;
    border-radius: 26px;
    @include media-breakpoint-up(md) {
      border-radius: 32px;
    }
    @include media-breakpoint-up(xl) {
      height: 380px;
    }
    @include media-breakpoint-up(xxl) {
      height: 486px;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 26px;
    @include media-breakpoint-up(md) {
      border-radius: 32px;
    }
  }
  .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid $primary-black-2;
    border-radius: 50%;
    opacity: 1;

    &::before {
      content: '';
      width: 0px;
      height: 0px;
      background-color: $primary-black-2;
      display: block;
      border-radius: 50%;
    }
    &:hover {
      border-color: $primary-red;
      &::before {
        content: '';
        background-color: $primary-red;
      }
    }
    &.swiper-pagination-bullet-active {
      width: 24px;
      height: 24px;
      &::before {
        content: '';
        width: 12px;
        height: 12px;
      }
    }
  }
  .swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
}

.wrap-share {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 36px;
  .title {
    color: $primary-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 130%; /* 26px */
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  .ya-share2__container .ya-share2__list .ya-share2__badge {
    height: 30px;
    padding: 0px 8px;
    background-color: transparent;
    border-radius: 32px;
    border: 1px solid $primary-gray;
    display: inline-flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      height: 32px;
      padding: 0px 16px;
    }
  }
  .ya-share2__container .ya-share2__item:hover {
    opacity: 1 !important;
  }
  .ya-share2__container .ya-share2__list .ya-share2__badge .ya-share2__icon {
    filter: brightness(0.4);
  }
  .ya-share2__container .ya-share2__list .ya-share2__badge:hover {
    background-color: $primary-black;
    border-color: $primary-black;
  }
  .ya-share2__container
    .ya-share2__list
    .ya-share2__badge:hover
    .ya-share2__icon {
    filter: brightness(1);
  }
}
.white-block-text {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 32px;
  background: $white;
  @include media-breakpoint-up(md) {
    padding: 24px;
  }
  @include media-breakpoint-up(lg) {
    padding: 32px;
  }
}
.wrap-rekvizit {
  border-radius: 26px;
  border: 1px solid $primary-gray;
  padding: 12px;
  margin-bottom: 36px;
  @include media-breakpoint-up(md) {
    padding: 30px 24px;
    border-radius: 32px;
  }
  @include media-breakpoint-up(lg) {
    padding: 36px 32px;
  }
  p {
    margin-bottom: 24px;
  }
  table tr:first-child td {
    padding-top: 14px;
    border-top: 1px solid $primary-gray;
  }
  table td {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}
.form-tagstype {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  @include media-breakpoint-up(md) {
    gap: 12px 15px;
  }
  .form-check {
    width: auto;
    margin: 0;
    padding: 0;
    input {
      display: none;
    }
  }
  .label-tags {
    color: $primary-black-2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: inline-flex;
    height: 35px;
    padding: 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: transparent;
    border: 1px solid $primary-gray;
    white-space: nowrap;
    @include border-radius(24px);
    @include transition(0.3s);
    cursor: pointer;
    @include media-breakpoint-up(md) {
      font-size: 14px;
      height: 42px;
      padding: 10px 16px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 16px;
    }
    @media #{$big_screen} {
      font-size: 16px;
    }
    &:not(.disabled):hover {
      color: $white;
      background-color: $primary-black-2;
      border-color: $primary-black-2;
      text-decoration: none;
    }
  }
  input[type='checkbox']:checked ~ .label-tags {
    color: $white;
    background-color: $primary-black-2;
    border-color: $primary-black-2;
    text-decoration: none;
  }
}
.form-baytype {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 32px;
  background: $white;
  .form-check {
    width: auto;
    margin: 0;
    padding: 0;
    input {
      display: none;
    }
  }
  .label-baytype {
    color: $primary-black-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none !important;
    display: flex;
    height: 40px;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid $white;
    background-color: $white;
    transition: all 0.3s ease;
    &:hover {
      color: $primary-black-2;
      border-color: $primary-red;
      background-color: $white;
    }
    &:active,
    &.active {
      color: $white;
      border-color: $primary-red;
      background-color: $primary-red;
    }
    @include media-breakpoint-up(md) {
      font-size: 16px;
      height: 49px;
      padding: 8px 34px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 20px;
    }
    @media #{$big_screen} {
      font-size: 20px;
    }
  }
  .form-check_0 {
    order: 1;
  }
  .form-check_1 {
    order: 0;
  }
  input[type='checkbox']:checked ~ .label-baytype {
    color: $white;
    border-color: $primary-red;
    background-color: $primary-red;
  }
}
#mse2_mfilter.msearch2-custom {
  #mse2_results {
    margin-bottom: 0px !important;
  }
  .btn_more {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    line-height: 12px;
    &:hover {
      color: $white;
      background-color: $primary-red;
      border-color: $primary-red;
    }
  }
}
